.headerStyle {
    background   : #ff9634;
    border-radius: 0% !important;
    border       : none !important
}

.titleModalStyle {
    margin      : 20%;
    margin-left : 5%;
    margin-right: 25%;
    color       : white;
    font-size   : 40px !important;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bodyModalStyle {
    background-color: #ede4dc;
    border-radius   : 0% !important;
    border          : none !important;
}

.picModalStyle {
    width        : 60%;
    margin-top   : 4% !important;
    margin-bottom: 4% !important;
    margin-left  : 15%;
    border-radius: 50%;
}

.footerModalStyle {
    background-color: #ede4dc;
    border-radius   : 0% !important;
    border          : none !important;
}

.buttonStyle {
    margin-top      : 10%;
    background-color: #ff9634 !important;
    border          : #ff9634 !important;
    border-radius   : 0% !important;
    font-weight     : bolder !important;
}