.containerStyle {
    width: 80% !important;

}

.cardStyle {
    width: 100%;

}

.picStyle {
    width        : 80%;
    margin       : 10%;
    border-radius: 50%;
}

.cardBodyStyle {
    margin-top: 10%;
    max-width : 100% !important;
}

.cardTextStyle {
    line-height: 80%;
}

.buttonStyle {
    margin-top      : 10%;
    margin-left     : 10%;
    background-color: #ff9634 !important;
    border          : #ff9634 !important;
    border-radius   : 0% !important;
    font-weight     : bolder !important;
}

.labelStyle {
    background-color: #ff9634;
    color           : white;
}